@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

/*Base*/
* {
  font-family: Urbanist;
  color: #0b2c74;
}

body {
  margin: 0%;
}
body main {
  background-color: #def2f5;
}

header {
  height: 70px;
}

.titles {
  text-align: center;
  padding: 20px;
  color: #0b2c74;
}

p {
  font-size: 25px;
}

/*Componentes*/
/*Modals*/
.padreModal {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 25rem;
  width: 100%;
}
.padreModal .modals {
  display: none;
  background-color: #42BFDD;
  width: 50%;
  border: solid 2px #bbe6e4;
  border-radius: 20px;
}
.padreModal .modals .modalContent {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 0.5fr;
  grid-template-rows: 0.25fr auto;
  grid-template-areas: "area1 area2 area3 area4" "area1 area5 area3 area7";
  padding: 1em;
}
.padreModal .modals .modalContent .modalTitle {
  grid-area: area2;
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
  color: #0b2c74;
  padding: 20px 0 0;
}
.padreModal .modals .modalContent .modalButton {
  justify-items: center;
  width: 30px;
  height: 30px;
  grid-area: area4;
  border-radius: 100%;
  border: 0;
  background-color: #bbe6e4;
  color: #42BFDD;
  font-size: 15px;
}
.padreModal .modals .modalContent .modalImg {
  grid-area: area5;
  width: 100%;
  padding-bottom: 1rem;
}
.padreModal .modals .modalContent .modalTexto {
  grid-area: area3;
  align-content: center;
  margin: 20% 0;
  padding: 0 0 0 20px;
  font-family: sans-serif;
  color: #0b2c74;
  overflow: auto;
}

footer {
  background-color: #42BFDD;
  display: grid;
  grid-template-columns: repeat(6, 5fr);
  grid-template-areas: " area1 area2 area3 area4 area5 area6";
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #0b2c74;
}
footer img {
  width: 5rem;
  display: inline-block;
  grid-area: area2;
  width: 5em;
  transition: 1.5s;
}
footer img:hover {
  scale: 0.5;
  transform: rotate(360deg);
}
footer ul {
  padding: 0%;
}
footer ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 0.5rem;
}
footer ul li img {
  width: 1.5rem;
}

.redes {
  text-align: center;
  display: inline-block;
  grid-area: area5;
}
.redes h4 {
  color: #0b2c74;
  font-size: 1rem;
}

nav {
  display: flex;
  padding: 1em;
  justify-content: center;
  background-color: #42BFDD;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #0b2c74;
}
nav ul {
  display: flex;
  justify-content: end;
  gap: 1em;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #0b2c74;
  font: 1.5em sans-serif;
}
nav ul .navOpcion {
  border: 1px solid transparent;
}
nav ul .navOpcion:hover {
  border-bottom: 1px solid #0b2c74;
  transition: 0.5s;
}

.dropdown .dropdown-menu li {
  width: 100%;
  text-align: center;
  background-color: #bbe6e4;
  padding: 0%;
}
.dropdown .dropdown-menu li a {
  color: #0b2c74;
}
.dropdown .dropdown-menu li a:hover {
  color: #bbe6e4;
  background-color: #42BFDD;
}
.dropdown ul {
  padding: 0;
  border: solid 2px #42BFDD;
  border-radius: 0;
}

/*Layouts*/
/*Anime*/
.animeContenido {
  padding: 0 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.animeContenido .animeContenidoDos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.animeContenido .animeContenidoDos img {
  width: 75%;
}
.animeContenido .animeContenidoUno {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}
.animeContenido .animeContenidoUno img {
  display: inline;
  width: 30%;
}

.divHeader {
  background-image: url(/src/sinnohMap.jpg);
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
}
.divHeader div {
  background: radial-gradient(rgba(236, 248, 248, 0.568627451), rgba(0, 0, 0, 0.678));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}
.divHeader div .imgTitulo {
  width: 20em;
  padding: 15px;
  transition: 1.5s;
}
.divHeader div .imgTitulo:hover {
  scale: 0.5;
  transform: rotate(360deg);
}
.divHeader div .imgTitulo img {
  display: inline-block;
}
.divHeader div .tituloPrincipal {
  text-align: center;
  color: #0b2c74;
  font-size: 3rem;
  font-family: "Cinzel";
  transition: 1.5s;
}
.divHeader div .tituloPrincipal:hover {
  transform: scale(0.905);
}

.introduccion {
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 2em;
  width: 90%;
  justify-self: center;
}
.introduccion .introduccionImgs {
  display: flex;
  flex-direction: row;
  place-content: center center;
  width: 100%;
}
.introduccion .introduccionImgs img {
  width: 100%;
  cursor: pointer;
}
.introduccion .introduccionImgs img:hover {
  transform: scale(1.05);
  transition: 1.05s;
}
.introduccion .introduccionImgs .imgIntroUno {
  grid-area: area2;
}
.introduccion .introduccionImgs .imgIntroDos {
  grid-area: area3;
}
.introduccion .introduccionImgs .imgIntroTres {
  grid-area: area4;
}
.introduccion p {
  text-align: center;
}

/*form*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  border-top: solid 1px #0b2c74;
}
.form p {
  width: 30%;
}
.form form label,
.form form input,
.form form textarea {
  display: block;
  padding: 10px;
  width: 100%;
}
.form form input,
.form form textarea {
  padding: 10px;
  border: solid 3px #0b2c74;
  border-radius: 10px;
}
.form form .enviar {
  margin: 1.5em 0;
}
.form form .enviar:hover {
  transition: 1s;
  transform: scale(1.05);
  background-color: #bbe6e4;
}

/*AboutKingdra*/
.kingdraContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.kingdraContainer .aboutKingdra, .kingdraContainer .escamaDragon {
  text-align: center;
  width: 70%;
  padding: 0 0 20px;
}
.kingdraContainer .aboutKingdra img, .kingdraContainer .escamaDragon img {
  width: 200px;
  transition: 1.5s;
}
.kingdraContainer .aboutKingdra img:hover, .kingdraContainer .escamaDragon img:hover {
  transform: rotateY(180deg);
  scale: 1.3;
}

/*Movmientos*/
.padreTabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

table {
  width: 60%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #0b2c74;
}

th {
  background-color: #42BFDD;
}

tr:nth-child(even) {
  background-color: #bbe6e4;
}

.carousel-item img {
  width: 100%;
  height: 80vh;
}

.ubicacionesContent {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
  text-align: center;
}
.ubicacionesContent ul {
  list-style: none;
  margin: 0;
  padding: 0%;
}
.ubicacionesContent .horsea {
  grid-area: 1/1;
}
.ubicacionesContent .seadra {
  grid-area: 1/3;
}
.ubicacionesContent img {
  width: 150px;
  transition: 1.5s;
}
.ubicacionesContent img:hover {
  transform: rotateY(180deg);
  scale: 0.7;
}
.ubicacionesContent .ubicacionesImg {
  width: 100%;
}

#offcanvasResponsive {
  display: none;
  background-color: #42BFDD;
}

@media (max-width: 768px) {
  /*navbar*/
  nav {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 2;
    top: 0;
    justify-content: end;
  }
  nav ul li {
    display: none;
  }
  .offcanvasOpcion {
    display: block;
  }
  .offcanvasOpcion a {
    width: 40px;
  }
  .offcanvasOpcion a .menu-responsive {
    width: 40px;
  }
  .dropdown-menu li a {
    background-color: #42BFDD;
    border: 3px solid #42BFDD;
    text-align: left;
  }
  .offcanvas-body {
    height: 100%;
  }
  .offcanvas-body ul li {
    list-style: none;
  }
  .offcanvas-body ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #0b2c74;
  }
  .offcanvas-body,
  .offcanvas-header {
    background-color: #42BFDD;
    color: #0b2c74;
  }
  .navOpcion:hover {
    border-left: 1px solid #0b2c74;
    border-bottom: 0;
    padding: 1rem;
    transition: 0.5s;
  }
  /*index*/
  .divHeader div .imgTitulo {
    width: 180px;
    padding: 0;
  }
  .divHeader div .tituloPrincipal {
    font-size: 2rem;
  }
  .introduccion .introduccionImgs {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .introduccion .introduccionImgs img {
    width: 170px;
  }
  .introduccion .introduccionImgs a {
    width: 170px;
  }
  .padreModal .modals {
    width: 90%;
  }
  .form label,
  .form input,
  .form textarea,
  .form p,
  .form h2 {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Ubicaciones*/
  .carousel-item img {
    height: 20rem;
  }
  .ubicacionesContent {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .ubicacionesContent img {
    width: 25%;
  }
  /*Kingdra no rompe*/
  /*anime*/
  .animeContenido .animeContenidoUno,
  .animeContenido .animeContenidoDos {
    flex-direction: column-reverse;
  }
  .animeContenido .animeContenidoUno img {
    width: 50%;
  }
  /*footer*/
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
