@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.cinzel{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.urbanist{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}


$colorPrimario :#def2f5;
$colorSecundario:#42BFDD;
$colorTerciario:#bbe6e4 ;
$colorCuarto: #0b2c74;



/*Base*/
@import"base/reset";
@import "base/clases";
/*Componentes*/
@import "components/modals", "components/_footer.scss", "components/_nav.scss";
/*Layouts*/
@import "layouts/anime", "layouts/index", "layouts/kingdra", "layouts/movimientos", "layouts/ubicaciones", "layouts/media";






