
*{
    font-family: Urbanist;
    color: $colorCuarto;
    
}

body{
    margin:0%;
    main{
        background-color: $colorPrimario;
      
            
        }
    }
        
    header{
        height: 70px;
    }

.titles{
    text-align: center;
    padding: 20px;
    color: $colorCuarto;

}
p{
    font-size: 20px;
}