/*AboutKingdra*/
.kindraConteiner {
    padding: 0 5rem;
}

.aboutKingdra {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;

    p {
        padding: 2rem;
        border-left: 1px solid $colorCuarto;
    }

    img {
        width: 50%;
        max-width: 500px;
        height: 100%;

        transition: 1.5s;

        &:hover {
            transform: rotateY(180deg);
            scale: 1.2;
        }
    }

}

.escamaDragon {
    display: flex;
    flex-direction: column;
    text-align: right;

    .escamaDragonInfo {
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem;

        p {
            padding: 2rem;
            border-right: 1px solid $colorCuarto;
        }

        img {

            transition: 1.5s;

            &:hover {
                transform: rotateY(180deg);
                scale: 1.7;
            }
        }

        
    }
    .escamaDragonJuegos {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 2rem;

        p {
            padding: 2rem;
            border-left: 1px solid $colorCuarto;

        }
    }
}