
.carousel-item img {
    width: 100%;
    height: 80vh;

}

.ubicacionesContent {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    

    ul {

        list-style: none;
        margin: 0;
        padding: 0%;
    }

    .horsea {
        grid-area: 1/1;
    }

    .seadra {
        grid-area: 1/3;
    }
    img{
        width: 150px;
        transition: 1.5s;
        
    &:hover{
        transform: rotateY(180deg);
        scale : 0.7;
        
    }
}
    .ubicacionesImg {
        width: 100%;
    }
}